/* Collected by Thanh Vu, reactstrap and bootstrap is required to use this lib */
@import './src/kapi-component.css';
@import './src/kapi-button.css';
@import './src/kapi-text.css';


@font-face {
    font-family: 'TexGyreAdventor';
    src: url('./src/font/texgyreadventor-regular.otf');
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);

.clf:after,
.clf:before {
    content: '';
    display: table
}

.clf:after {
    clear: both
}

html {
    font-size: 14px
}

body {
    overflow-x: hidden;
    font-family: Roboto, TexGyreAdventor;
    background-color: #f4f3ef;
    color: #34495f
}

a {
    cursor: pointer;
    color: inherit
}

a:focus,
a:hover {
    text-decoration: none;
    color: #18c5a9
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

.h6,
h6 {
    font-weight: 500
}

small {
    font-size: 85%
}

button {
    cursor: pointer
}

a:focus,
button:focus,
input:focus,
select:focus {
    outline: 0
}

canvas,
img,
input,
textarea {
    max-width: 100%
}

button.reset {
    border: 0;
    background-color: inherit;
    padding: 0;
    outline: 0
}

strong {
    font-weight: 500
}

b,
dt {
    font-weight: 600
}

mark {
    padding: 1px 2px
}

code {
    color: #cb4a4e;
    background-color: #f7f8f8
}

pre {
    position: relative;
    border: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-top: 10px;
    padding: 12px;
    background: #f0f0f0
}

pre code {
    white-space: pre;
    display: block;
    overflow-x: auto
}

pre .clipboard-copy {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 1rem;
    opacity: 0
}

pre:hover .clipboard-copy {
    opacity: 1
}
