.text-primary {
    color: #5c6bc0!important
}

.text-success {
    color: #18c5a9!important
}

.text-info {
    color: #2cc4cb!important
}

.text-warning {
    color: #f39c12!important
}

.text-danger {
    color: #f75a5f!important
}

.text-purple {
    color: #5c6bc0!important
}

.text-pink {
    color: #ff4081!important
}

.text-blue {
    color: #3498db!important
}

.text-muted {
    color: #aaa!important
}

.text-light {
    color: #71808f!important
}

.text-white {
    color: #fff!important
}